@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------------- Master styles  */
body {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: azure;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/*---------------------------------------- navbar styles  */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 2px solid #000;
}

.nav-link-wrapper a:hover {
  color: #000;
}

.active-nav-link {
  border-bottom: 2px solid #000;
}

.active-nav-link a {
  color: #000 !important;
}

/*---------------------------------------- portfolio styles  */

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
}

/* more specific with selector  */

.img-text-wrapper .subtitle {
  transition: 1s;
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: lightseagreen;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}

/* about page stylings  */

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.profile-image-wrapper img {
  width: 80%;
  border-radius: 50%;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: seagreen;
}